.main {
  display: flex;
}

.bulletin {
  width: 80%;
}
.sidebar {
  width: 20%;
//  display: none;
  position: absolute;
  margin: auto;
}
.sidebar img {
  width: 200px;
  border: none;
}
.floating_section {
  height: 500px;
}
