<footer class="container" id="footer" style="background-color: pink">
  <p class="text-center">Copyright ©2016 Bulletin Board
    <br>Designed by <a href="http://alanyeh20001.blogspot.tw/" target=_new>AlanYeh</a>
  </p>
</footer>
